/packages
/.vs
/src/bin
/src/obj
/App_Data/temp
/App_Data/Output
/App_Data/SignatureData
/src/GroupDocs.Toal.WebForms.csproj.user
src/Resources/*
!src/Resources/.gitkeep
node_modules
src/package-lock.json
/src/node 